@charset "UTF-8";

html,
body {
  margin          : 0;
  box-sizing      : border-box;
  overflow-x      : hidden;
  background-color: #eeeef3;
}

a {
  text-decoration: none;
  color          : #254954;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Roboto-Regular", "Noto-Serif-Regular", sans-serif;
  font-size  : 2.5rem;
}

h2 {
  font-family: "Roboto-Light", "Noto-Light", sans-serif;
  font-size  : 1.8rem;
}

h3 {
  font-family: "Roboto-Thin", "Noto-Thin", sans-serif;
  font-size  : 1.3rem;
}

h4 {
  font-family: "Roboto-Italic", "Noto-Light", sans-serif;
}

p {
  font-family: "Roboto-Regular", "Noto-Regular", sans-serif;
  color      : #254954;
}

span {
  font-family: "Roboto-Italic", "Noto-Light", sans-serif;
}

li {
  transition: background-color 0.2s;
}

button.btn {
  border       : none;
  border-radius: 2rem;
  padding      : 1rem 3rem;
  font-size    : 1.2rem;
  font-family  : "Roboto-Regular", "Noto-Regular", sans-serif;
  cursor       : pointer;
  transition   : background-color 0.2s;
}

button.btn:hover {
  color           : #ffffff;
  background-color: #3665c4;
}

.text-gray {
  color: "Roboto-Thin", "Noto-Thin", sans-serif;
}

.flex-row {
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
}

.icon {
  width         : 1em;
  height        : 1em;
  vertical-align: -0.15em;
  fill          : currentColor;
  overflow      : hidden;
}

.container {
  margin: 0 5vw;
}

.nav {
  background-color: #ffffff;
  padding         : 0 2rem;
  height          : 4.4rem;
  overflow        : hidden;
  transition      : height 0.6s ease-in-out;
}

.nav .toggle-collapse {
  position: absolute;
  top     : 0;
  width   : 86%;
  cursor  : pointer;
  display : none;
}

.nav .toggle-collapse .toggle-icons {
  display        : flex;
  justify-content: flex-end;
  padding        : 1.4rem 0;
}

.nav .toggle-collapse .toggle-icons .icon {
  width : 1.3em;
  height: 1.3em;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .nav-menu .nav-brand a {
  font-size  : 1.6rem;
  font-family: "Roboto-Regular", "Noto-Regular", sans-serif;
  padding    : 1.2rem 0;
  display    : block;
}

.nav .nav-menu .nav-items {
  display: flex;
  margin : 0;
}

.nav .nav-menu .nav-items .nav-link {
  padding    : 1.6rem 1rem;
  font-size  : 1.1rem;
  font-family: "Roboto-Light", "Noto-Light", sans-serif;
}

.nav .nav-menu .nav-items .nav-link:hover {
  color           : #ffffff;
  background-color: #1a237e;
}

.nav .nav-menu .social {
  padding: 1.6rem 0;
}

.nav .nav-menu .social .icon {
  padding: 0 0.2rem;
  width  : 1.3rem;
  height : 1.3rem;
}

.site-title {
  color           : #ffffff;
  background-color: #3665c4;
  height          : 60vh;
  padding         : 4rem;
  display         : flex;
  justify-content : center;
}

.site-title .site-intro {
  min-width : 40vw;
  text-align: center;
}

.site-title .site-intro h1 {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 20vh;
}

.site-title .site-intro .btn {
  margin: 3rem;
}

.site-title .site-intro .btn:hover {
  background-color: #1a237e;
}

.website {
  width: 100%;
}

.website .website-post {
  padding-top: 3rem;
}

.website .website-post .website-card {
  background-color: #ffffff;
  display         : flex;
  flex-direction  : column;
  text-align      : center;
  width           : 80%;
  margin          : 3rem 2rem;
  border-radius   : 1rem;
  /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影颜色 */
  box-shadow      : 0 10px 20px rgba(38, 50, 56, 0.3);
}

.website .website-post .website-card .website-title {
  padding-bottom: 1.6rem;
}

.website .website-post .website-card .website-title h2 {
  margin-bottom: 0;
}

.website .website-post .website-card .website-title span {
  margin : 2rem 0;
  display: block;
}

.website .website-post .website-card .website-title .btn {
  background-color: #eeeef3;
  padding         : 1rem 2.2rem;
}

.website .website-post .website-card .website-title .btn:hover {
  background-color: #3665c4;
}

.friend {
  min-height   : 60vh;
  padding      : 1rem 0;
  display      : grid;
  grid-template: 1fr/0.7fr 0.3fr;
}

.friend .friend-list {
  justify-self: start;
  margin-left : 1rem;
}

.friend .friend-list h2 {
  border-left: 0.3rem solid #1a237e;
  padding    : 0 0.6rem;
}

.friend .friend-list .friend-card {
  display              : block;
  margin               : 1rem 0;
  padding              : 0 2rem;
  color                : #ffffff;
  background-color     : rgba(8, 43, 111, 0.2);
  border-radius        : 2rem;
  min-width            : 90%;
  display              : grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  justify-items        : center;
  align-items          : center;
}

.friend .friend-list .friend-card>* {
  display: inline-block;
}

.friend .friend-list .friend-card img {
  border-radius: 2rem;
  height       : 3rem;
}

.friend .friend-list .friend-card .btn {
  border-radius: 1rem;
  padding      : 0.5rem 0.8rem;
  font-size    : 0.6rem;
}

footer p {
  display        : flex;
  justify-content: center;
  align-items    : flex-end;
  margin         : 1rem 0 2rem 0;
}

footer a {
  color: #3665c4;
}

/*# sourceMappingURL=index.css.map */