// 全局变量
$white       :#ffffff;
$light       :rgb(238, 238, 243);
$blue        :#3665c4;
$blue-alapha :rgba(8, 43, 111, 0.2);
$blue-dark   :#1a237e;
$gray        :#254954;
$dark        :#263238;

// 字体
$Thin : 'Roboto-Thin',
'Noto-Thin',
sans-serif;
$Light: 'Roboto-Light',
'Noto-Light',
sans-serif;
$Regular: 'Roboto-Regular',
'Noto-Regular',
sans-serif;
$Serif-Regular:'Roboto-Regular',
'Noto-Serif-Regular',
sans-serif;
$Roboto-Italic: 'Roboto-Italic',
'Noto-Light',
sans-serif;

// Normalize
html,
body {
	margin    : 0;
	box-sizing: border-box;
	overflow-x: hidden;

	background-color: $light;
}

// 公共类
a {
	text-decoration: none;
	color          : $gray;

}

ul {
	list-style-type: none;
}

h1 {
	font-family: $Serif-Regular;
	font-size  : 2.5rem;
}

h2 {
	font-family: $Light;
	font-size  : 1.8rem;
}

h3 {
	font-family: $Thin;
	font-size  : 1.3rem;
}

h4 {
	font-family: $Roboto-Italic;
}

p {
	font-family: $Regular;
	color      : $gray;
}

span {
	font-family: $Roboto-Italic;
}

li {
	transition: background-color 0.2s;
}

button.btn {
	border       : none;
	border-radius: 2rem;
	padding      : 1rem 3rem;
	font-size    : 1.2rem;
	font-family  : $Regular;
	cursor       : pointer;

	transition: background-color 0.2s;

	&:hover {
		color           : $white;
		background-color: $blue;
	}
}

// 常用类
.text-gray {
	color: $Thin;
}

.flex-row {
	display       : flex;
	flex-direction: row;
	flex-wrap     : wrap;
}

.icon {
	width         : 1em;
	height        : 1em;
	vertical-align: -0.15em;
	fill          : currentColor;
	overflow      : hidden;
}

.container {
	margin: 0 5vw;
}

// 导航栏
.nav {
	background-color: $white;
	padding         : 0 2rem;
	height          : 4.4rem;

	overflow  : hidden;
	transition: height 0.6s ease-in-out;

	.toggle-collapse {
		position: absolute;
		top     : 0;
		width   : 86%;
		cursor  : pointer;
		display : none;

		.toggle-icons {
			display        : flex;
			justify-content: flex-end;
			padding        : 1.4rem 0;

			.icon {
				width : 1.3em;
				height: 1.3em;
			}
		}
	}

	.nav-menu {
		justify-content: space-between;

		.nav-brand a {
			font-size  : 1.6rem;
			font-family: $Regular;
			padding    : 1.2rem 0;
			display    : block;
		}

		.nav-items {
			display: flex;
			margin : 0;

			.nav-link {
				padding    : 1.6rem 1rem;
				font-size  : 1.1rem;
				font-family: $Light;

				&:hover {
					color           : $white;
					background-color: $blue-dark;
				}
			}
		}

		.social {
			padding: 1.6rem 0;

			.icon {
				padding: 0 .2rem;
				width  : 1.3rem;
				height : 1.3rem;
			}
		}
	}
}

// 介绍
.site-title {
	color           : $white;
	background-color: $blue;
	height          : 60vh;
	padding         : 4rem;
	display         : flex;
	justify-content : center;

	.site-intro {
		min-width : 40vw;
		text-align: center;


		h1 {
			display        : flex;
			justify-content: center;
			align-items    : center;
			height         : 20vh;
		}

		.btn {
			margin: 3rem;

			&:hover {
				background-color: $blue-dark;
			}
		}
	}
}

// 我的网站
.website {
	// background-color         : url('');
	// background-color-position: right;
	// background-color-repeat  : no-repeat;
	// height: 40vh;
	width: 100%;

	.website-post {
		padding-top: 3rem;

		.website-card {
			background-color: $white;

			display       : flex;
			flex-direction: column;
			text-align    : center;
			width         : 80%;
			margin        : 3rem 2rem;
			border-radius : 1rem;
			/* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影颜色 */
			box-shadow    : 0 10px 20px rgba(38, 50, 56, .3);

			.website-title {
				padding-bottom: 1.6rem;

				h2 {
					margin-bottom: 0;
				}

				span {
					margin : 2rem 0;
					display: block;
				}

				.btn {
					background-color: $light;
					padding         : 1rem 2.2rem;
					&:hover {
						background-color: $blue;
					}
				}
			}
		}
	}
}

// 朋友们
.friend {
	min-height: 60vh;
	padding   : 1rem 0;

	display      : grid;
	grid-template: 1fr/.7fr .3fr;


	.friend-list {
		justify-self: start;
		margin-left : 1rem;

		h2 {
			border-left: .3rem solid $blue-dark;
			padding    : 0 .6rem;
		}

		.friend-card {
			display         : block;
			margin          : 1rem 0;
			padding         : 0 2rem;
			color           : $white;
			background-color: $blue-alapha;
			border-radius   : 2rem;
			min-width       : 90%;

			display              : grid;
			grid-template-columns: .5fr 2fr 1fr;

			justify-items: center;
			align-items  : center;

			>* {
				display: inline-block;
			}

			img {
				border-radius: 2rem;
				height       : 3rem;

			}

			.btn {
				border-radius: 1rem;
				padding      : .5rem .8rem;
				font-size    : .6rem;
			}
		}
	}
}

footer {

	p {
		display        : flex;
		justify-content: center;
		align-items    : flex-end;
		margin     : 1rem 0 2rem 0;
	}

	a {
		color: $blue;
	}

}