@charset "UTF-8";
body {
  background-color: #acc;
}

a {
  text-decoration: none;
  color: #59a;
}

p {
  color: #8aa;
}

.container {
  transition: width 200ms;
  transition: height 200ms;
  display: flex;
  flex-direction: column;
}

.me,
.friend {
  width: 600px;
  background-color: #ffd8;
  border-radius: 15px;
  /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
  box-shadow: 3px 3px 7px 5px #0372;
  display: flex;
}

.avatar a img {
  border-radius: 80px;
  border: 6px solid #8bc;
}
