.me {
  margin         : 70px auto 30px; // JS Set
  height         : 360px;
  flex-direction : column;
  justify-content: center;
  align-items    : center;

  /* 头像区 */
  .avatar {
    margin-top: 25px;

    a img {
      width : 100px;
      height: 100px;
    }
  }

  /* Header区 */
  .title {
    h1 {
      margin-top : 10px;
      font-size  : 2.2em;
      /* offset-x | offset-y | blur-radius | color */
      text-shadow: 1px 1px 2px rgba(2, 80, 81, 0.4);
      color      : #6294b2;
    }
  }

  /* 链接区 */
  .link {

    a {
      margin: auto 10px;

      img {
        width : 80px;
        height: 80px;

        &:hover {
          width : 75px;
          height: 75px;
          margin: auto 3px;
        }
      }
    }
  }

}

.friend {
  height: 120px;
  margin: 0 auto;

  display        : inline-flex;
  flex-direction : row;
  justify-content: space-around;
  align-items    : center;

  .avatar {
    a img {
      width : 80px;
      height: 80px;

      &:hover {
        width : 75px;
        height: 75px;
        margin: auto 3px;
      }
    }
  }
}

.footer {
  display        : flex;
  justify-content: center;
  align-items    : flex-end;
  margin-top     : 60px;
}